@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
  color: white;
  font-family: 'Bungee Spice', cursive;
}

body {
  background-color: #110820;
}

#main-title {
  font-size: 60px;
}

#score-title,
#add-score-title {
  font-size: 35px;
}

#player-scores li:nth-child(even) {
  background-color: #1d0f39;
}

#player-scores {
  border-radius: 0 60px 0 60px;
  overflow: hidden;
}
