@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
  color: white;
}

body{
  background-color: #110820;
}

#main-title {
  font-size: 60px;
}

#score-title,
#add-score-title {
  font-size: 40px;
}

#player-scores li:nth-child(odd) {
  background-color: rgb(13, 202, 240);
}

#player-scores li:nth-child(even) {
  background-color: #1d0f39;
}