@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
  color: white;
  font-family: 'Bungee Spice', cursive;
}

.add-score-container,body {
  background-color: #110820;
}

#main-title {
  font-size: 60px;
}

#score-title,
#add-score-title {
  font-size: 35px;
}

#player-scores li:nth-child(even) {
  background-color: #1d0f39;
}
#player-scores::-webkit-scrollbar,#add-btn {
  display: none;
}
#player-scores {
  border-radius: 0 60px 0 60px;
  overflow-y: auto;
  max-height: 60vh;
}

@media screen and (max-width: 768px) {
  #main-title {
    font-size: 30px;
  }
  #score-title,
  #add-score-title {
    font-size: 15px;
  }
  #refresh-btn,#submit-btn,#add-btn{
    font-size: 10px;
  }
  .add-score-container{
    display: none;
  }
  .add-score-container.active,#add-btn{
    display: block;
  }
  .score-container.active{
    display: none;
  }
  #player-scores{
    overflow-y: auto;
    max-height: 75vh;
  }
}